.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.airHeader {
  text-align: center;
  color: #b6e0e3;
  opacity: 80%;
  transform: scaleY(2.3);
  font-family: 'Times New Roman', Times, serif;
  font-size: 10vw;
  z-index: -1;
  padding-bottom: 10px;
  text-shadow: -0.5px -0,5px 0 rgb(101, 161, 181), 1px -1px 0 rgb(101, 161, 181), -1px 1px 0 rgb(101, 161, 181), 1px 1px 0 rgb(101, 161, 181);
}

.startFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.contentContainer {
  height: 100vh;
  overflow-y: scroll;
}

.controlsContainer {
  top: 12vw;
  position: absolute;
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gasPlot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphsContainer {
  position: absolute;
  width: 100%;
  /* background-color: blue; */
}

.graphsContainer > :first-child {
  margin-top: 6%;
  margin-bottom: 100px; 
  width: 50%;
  margin-left: 50%;
}

.componentsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
  text-align: center;
  height: 1050px;
}

.componentsContainer > * {
  flex-basis: 50%;
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parallaxContainer {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 10%;
  width: 80%;
  height: 100%;
  /* background-color: red; */
}

.panoramicContainer {
  position: fixed;
  overflow: hidden;
  z-index: -2;
}

.scrollRect {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  left: 45%;
  transform: scaleY(2vh);
  z-index: 999;
}

.githubLink {
  position: absolute;
  width: 100px;
  top: 25px;
  right: 25px;
  background-color: transparent;
}

.githubLink:hover {
  background-color: rgb(200, 200, 200, 0.4);
}

.legend {
  position: absolute;
  top: 6vw;
  transform: translateY(60px);
  left: 10%;
  width: 30%;
  max-width: 200px;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  position: absolute;
  top: 4.2vw;
  left: 7.5%;
  /* max-width: 300px; */
  width: 39%;
  z-index: 100;
}

.searchContainer input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 15px;
  width: 100%;
}

.searchInputs {
  display: flex;
}

.searchIcon {
  height: 45px;
  width: 45px;
  background-color: white;
  display: grid;
  place-items: center;
}

.searchResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.searchResult::-webkit-scrollbar {
  display: none;
}

.searchResult .searchItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.searchItem p {
  margin-left: 10px;
  text-decoration: none;
}

.searchItem:hover {
  background-color: lightgray;
}

#clearButton {
  cursor: pointer;
}