.App {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.panoramicContainer {
  overflow: hidden;
}

.locationSelector {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
}